<section id="areas">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Research Areas</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 text-center">   <!-- col-lg-2 col-lg-offset-2 -->
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Aging</h3>
                    <p class="text-muted">Long life expectancy and low fertility rate have made aging an inevitable trend worldwide, and aging also brings many upcoming challenges in China, especially when the early cohorts of only children's parents will retire. We aim to find policies helping the aged to live out their lives in retirement and reduce the pressure for the middle-aged descendants.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Education</h3>
                    <p class="text-muted">Chinese education improved greatly in past decades but it still faces many problems. Our research focuses on understanding the role of parents, peers and teachers play in children development and designing better policies improving the students' ability, especially socioemotional skills and prosocial attitude. Besides, we seek for collaboration to improve the opportunities of children in the rural area.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Network</h3>
                    <p class="text-muted">What do we know about the role of kinship network and community networks for economic development and social welfare? It is important in development economics, especially for a country like China where social norms in networks governing almost every aspect of social life. Yet despite rapid recent progress there remain significant deficiencies in our understanding effects of networks in China. Our lab is committed to making a pioneering contribution to this topic.</p>
                </div>
            </div>
       <!--     <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Internal Migration</h3>
                    <p class="text-muted">You have to make your websites with love these days!</p>
                </div>
            </div> -->
        </div>
    </div>
</section>
