<section class="bg-dark" id="contact">
    <!--    <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                  <!--  <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i> 
                    <h5>Mailing Address</h5>
                    <p class="text-muted"> RIEM, SWUFE</p>
                </div>
            </div>
         </div> -->
<!--    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://twitter.com/{{ site.twitter_username }}">
                <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.twitter_username }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.github_username }}</p>
            </a>
        </div>
    </div> -->        
<!--   <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-2 col-sm-6"></div>
            <div class="col-lg-2 col-sm-6">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                           <h2>Mailing Address:</h2>
                           <p>Opportunity Insights<br />
                              Harvard University<br />
                              1280 Massachusetts Avenue<br />
                              Box #201<br />
                              Cambridge, MA 02138</p>
                        </div>
                    </div>
            </div>
        </div>
    </div>  -->
	<div class="container">
		<div class="row">
			<div class="hceoFooterLogo span4">
				<img src="/sites/all/themes/bootstrap_hceo/img/hceo_logo_167x167.svg" alt="HCEO">
			</div>
			<div class="ucFooterContact span4">
				  <div class="region region-footer-contact">
    <section id="block-block-2" class="block block-block clearfix">     
  <p><a href="/"><strong>HCEO</strong></a><br />
	University of Chicago<br />
	Department of Economics <br />
	1126 East 59th Street<br />
	 Chicago IL 60637</p>
<p>Phone: <a href="tel:+17738341574" class="phone-link">773.834.1574</a><br />
	Fax: 773.926.0928</p>
<p><a href="mailto:hceo@uchicago.edu">hceo@uchicago.edu</a></p>  
</section> <!-- /.block -->
  </div>
			</div>
			<div class="ucFooterAck span4">
				  <div class="region region-footer-info">
    <section id="block-block-3" class="block block-block clearfix">  
  <p><a href="/mailing-list">Join Mailing List </a></p>
<p>HCEO is run by the <a href="http://cehd.uchicago.edu">Center for the Economics of Human Development</a> and is funded by the <a href="http://ineteconomics.org">Institute for New Economic Thinking</a>.</p>  
</section> <!-- /.block -->
  </div>
			</div>
		</div>
	</div>
</section>

