<section id="footer">
   <div class="global-contain">
      <div class="top-section">
        <div class="social">
           <ul>
             <li><a href="https://www.facebook.com/OpportunityInsights" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
             <li><a href="https://twitter.com/OppInsights" target="_blank"><i class="fab fa-twitter"></i></a></li>
             <li><a href="https://www.linkedin.com/company/OpportunityInsights" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
           </ul>
        </div>
        <div class="footer-menu">
           <ul id="menu-footer-menu" class="menu">
              <li id="menu-item-32" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-32"><a href="/team/">Team</a></li>
              <li id="menu-item-33" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-33"><a href="/press/">Press</a></li>
              <li id="menu-item-715" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-715"><a href="https://opportunityinsights.org/joinourteam/">Join Our Team</a></li>
              <li id="menu-item-35" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-35"><a href="/updates/">Updates</a></li>
              <li id="menu-item-36" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-36"><a href="https://www.opportunityatlas.org/">Opportunity Atlas</a></li>
           </ul>
         </div> 
         <div class="clear">
         </div>
     </div>
     <div class="middle-section">
         <div class="contact-press">
            <div class="contact">
                <h2>Contact</h2>
                <p>Requests for additional information on the data or technical questions can be directed to <a href="/cdn-cgi/l/email-protection#d3babdb5bc93bca3a3bca1a7a6bdbaa7aababda0bab4bba7a0fdbca1b4"><span class="__cf_email__" data-cfemail="b6dfd8d0d9f6d9c6c6d9c4c2c3d8dfc2cfdfd8c5dfd1dec2c598d9c4d1">[email&#160;protected]</span></a></p>
                <p>&nbsp;</p>
                <h2>For Press</h2>
                <p>For media inquiries,<br />
                   please contact Shannon Felton Spence<br />
                <a href="/cdn-cgi/l/email-protection#dfacacafbab1bcba9fb0afafb0adabaab1b6aba6b6b1acb6b8b7abacf1b0adb8"><span class="__cf_email__" data-cfemail="790a0a091c171a1c39160909160b0d0c17100d0010170a101e110d0a57160b1e">[email&#160;protected]</span></a></p>
                <p>&nbsp;</p>
           </div>
           <div class="press">
               <h2>Mailing Address:</h2>
               <p>Opportunity Insights<br />
                  Harvard University<br />
                  1280 Massachusetts Avenue<br />
                  Box #201<br />
                  Cambridge, MA 02138</p>
           </div>
           <div class="clear">
           </div>
       </div>
       <div class="blurb-contain">
           <div class="image-contain">
              <div id="footer-logo"></div>
           </div>
           <div class="text-contain">
                Opportunity Insights is a non-partisan, not-for-profit organization located at Harvard University that seeks to translate insights from rigorous, scientific research to policy change by harnessing the power of “big data” using an interdisciplinary approach. </div>
           </div>
           <div class="clear">
           </div>
         </div>
     <div class="bottom-section">
         <div class="copyright">&copy;2020 Opportunity Insights. All rights reserved.</div>
         <div class="privacy-policy-link"><a href="https://opportunityinsights.org/privacy-policy/">Privacy Policy</a></div>
     </div>
   </div>
</section>
