<section id="footer">
            <div class="container">
                <div class="links">
                    <ul>
                        <li><a href="/"><img src="/assets/img/econ-ark-logo-light.png" alt="Econ-ARK logo" height="60"></a></li>
                        <li><a href="https://www.numfocus.org/"><img src="/assets/img/numfocus.png" alt="NumFOCUS logo" height="60"></a></li>
                        <li><a href="https://github.com/econ-ark"><img src="/assets/img/github.svg" alt="GitHub logo" height="60"></a></li>
                    </ul>
                </div>
                <div class="copy">
                    <p>&copy; 2020 &ndash; <a href="https://econ-ark.org/">Alpha Policy Lab</a>. Hosted with <a href="https://pages.github.com/">GitHub Pages</a>.</p>
                </div>
            </div>
</section>
