<section id="people">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">People</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                  <!--  <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i> -->
                    <img class="img-circle" src="img/Xia.jpg" width="150" height="150"/>
                    <h3>Yiming Xia</h3>
                    <p class="text-muted"> Associate Professor, SWUFE</p>
                    <a href="#xia"> view profile </a> 
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                 <!--   <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i> -->
                    <img class="img-circle" src="img/Zhao.jpg" width="150" height="150"/>
                    <h3>Naibao Zhao</h3>
                    <p class="text-muted">Associate Professor, SWUFE</p>
                    <a href="#zhao" class="teaser__cta cta-link"> view profile </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
               <div class="service-box"> 
                 <!--   <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i> -->
                    <!-- <div class="image_wrapper"> -->
                    <img class="img-circle" src="img/Cheng.png" width="150" height="150"/>
                    <!-- </div>    -->
                    <h3>Wenhao Cheng</h3>
                    <p class="text-muted">PhD Candidate, UCL</p>
                    <a href="#hao" class="teaser__cta cta-link"> view profile </a>
               </div> 
            </div>
            <div class="col-lg-3 col-md-6 text-center">
               <div class="service-box"> 
                 <!--   <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i> -->
                    <!-- <div class="image_wrapper"> -->
                    <img class="img-circle" src="img/Hu.png" width="150" height="150"/>
                    <!-- </div>    -->
                    <h3>Qinyou Hu</h3>
                    <p class="text-muted">PhD Candidate, Rice University</p>
                    <a href="#hao" class="teaser__cta cta-link"> view profile </a>
               </div> 
            </div>
           </div>
        </div>
        <div> </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                  <!--  <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i> -->
                    <img class="img-circle" src="img/Xiao.jpg" width="150" height="150"/>
                    <h3>Jin Xiao</h3>
                    <p class="text-muted"> PhD Candidate, Tsinghua</p>
                    <a href="#xia"> view profile </a> 
                </div>
            </div>
        </div>
       </div>     
</section>
          <!--  <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Qinyou Hu</h3>
                    <p class="text-muted">PhD Candidate, Rice University</p>
                    <a href="#hu" class="teaser__cta cta-link"> view profile </a>
                </div>
            </div>
        </div>
  <!--      <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".2s"></i> 
                  <!--  <img class="img-circle" src="img/Xia.jpg" width="150" height="150"/> 
                    <h3>Jin Xiao</h3>
                    <p class="text-muted"> PhD Candidate, Tsinghua</p>
                    <a href="#xiao"> view profile </a> 
                </div>
            </div>
    <!--        <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                 <!--   <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i> 
                    <img class="img-circle" src="img/Zhao.jpg" width="150" height="150"/>
                    <h3>Naibao Zhao</h3>
                    <p class="text-muted">Associate Professor, SWUFE</p>
                    <a href="#zhao" class="teaser__cta cta-link"> view profile </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
               <div class="service-box"> 
                 <!--   <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i> 
                    <!-- <div class="image_wrapper"> 
                    <img class="img-circle" src="img/Cheng.png" width="150" height="150"/>
                    <!-- </div>    
                    <h3>Wenhao Cheng</h3>
                    <p class="text-muted">PhD Candidate, UCL</p>
                    <a href="#hao" class="teaser__cta cta-link"> view profile </a>
               </div> 
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Qinyou Hu</h3>
                    <p class="text-muted">PhD Candidate, Rice University</p>
                    <a href="#hu" class="teaser__cta cta-link"> view profile </a>
                </div>
            </div>
    </div>
</section>
